.container_custom {
    max-width: 68.75rem;
    margin: 0 auto;
}
button,
input {
    border-radius: 1.875rem;
    border: none;
    padding: .9375rem 1.25rem;
}

button {
    text-transform: uppercase;
    color: var(--secondary_color);
}