@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;1,300&family=Urbanist:ital,wght@1,300&display=swap');

body {
    font-family: var(--typo_serif);
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}
p {
    font-family: var(--typo_sans_serif);
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text_nav);
    &:hover {
        color: inherit;
    }
}
hr {
    margin: 1rem auto;
    width: 90%;
}