:root {
    // typo
    --typo_serif: 'Roboto Slab', serif;
    --typo_sans_serif: 'Roboto', sans-serif;
    --typo_italic: 'Urbanist', sans-serif;

    // colors
    --primary_color: #f2b91e;
    --secondary_color: #fff;
    --text_nav: #333;
    --text_body: #222;
    --special_badge: #f09b23;
    --yellow_counters: #eab830;
    --news_badge: #dc1245;
    --bg_light: #edf2f5;
    --bg_submit: #2d4649;
    --card_line: #e4e7e7;
    --card_secondary: #b2aabd;
}